<div class="index">
  <div class="container">
    <img class="logo" src="/images/bike-icon.png"/>
    <div class="search">
      <%= form_tag do %>

        <%= text_field_tag 's', nil, placeholder: "Starting point" %>

        <%= text_field_tag 'd', nil, placeholder: "Destination" %>

        <%= submit_tag "Ride!" %>

      <% end %>
    </div>
  </div>
</div>