/* FONTS */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

$label-font-size : 1.1em; 
$input-submit-font-size : 1.1em;
$input-font-size : 1em;
$form-font-size : 1.2em;
$logo-font-size : 9em;

/* COLORS */ 

$body-color : #F8F8F8;
$label-color : #F9F9F9;
$logo-color : #F9F9F9;
$input-border-color : #F9F9F9;
$input-color : #F9F9F9;
$input-focus-color : #1653AC;
$input-background-color : rgba(0,0,0,0.3);
$footer-color : #3F3F3F;
