/* FONTS */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

$logo-font-size : 15em;
$input-font-size : 3em;

/* COLORS */ 

$citiride-blue : #22b2e9;
$body-color : white;
$input-border-color : #CCCCCC;
$input-color : #333333;
$submit-color : white;
$error-color : #FF124D;


